body 	{ 	margin:			0;
		background-color: 	#ffffff;
		scrollbar-face-color:	#cc66cc;
		scrollbar-arrow-color:	#006600;
		scrollbar-track-color:	#cccccc;
		padding:		20px 20px 20px 20px;
	}

h1 	{	margin:			0;
		background-color: 	#999999;
		font-size: 	  	xx-large;
		font-style:	  	bold;
		outline-color: 	  	red;
		text-align:	  	center;
		border-top:		2px solid black;
		border-bottom:		2px solid black;
		border-right:		2px solid black;
		border-left:		2px solid black;
		color:		  	red;
		padding:	  	30px 30px 30px 30px;
	}

footer	{	text-size:		x-small;
		text-align:		right;
		font-family:		"Courier New", Courier, monospace;
	}

.navBar {	list-style-type: 	none;
		border-bottom:	 	2px solid #000000;
		padding:	 	20px 20px 20px 20px;
	}
.navBar a:link {	color:		black;
			background-color:	#999999;}
.navBar a:visited {	color:		blue;
			background-color:	#999999;}
.navBar a:focus {	color:		red;
			background-color:	#999999;}
.navBar a:hover {	color:		#999999;
			background-color:	red;
			border:		2px outset #000000;}
.navBar a:active {	color:		#000000;
			border:		2px outset #000000;}

.progNav {	list-style-type:	circle;
	}
.progNav a:link {	color:		black;
			background-color:	#BBBBBB;
			font-style:		italic;}
.progNav a:hover {	color:		#BBBBBB;
			background-color:	red;
			font-style:		italic;
			border:		2px outset #000000;}
