body 	{ 	margin:			0;
		background-color: 	#ffffff;
		scrollbar-face-color:	#cc66cc;
		scrollbar-arrow-color:	#006600;
		scrollbar-track-color:	#cccccc;
		padding:		20px 20px 20px 20px;}
		


h1 	{	margin:			0;
		background-color: 	#17d611;
		font-size: 	  	xx-large;
		font-style:	  	bold;
		outline-color: 	  	red;
		text-align:	  	center;
		border-top:		2px solid black;
		border-bottom:		2px solid black;
		border-right:		2px solid black;
		border-left:		2px solid black;
		color:		  	black;
		padding:	  	30px 30px 30px 30px;}
		
h2	{	margin:			0;
		font-size:		xx-large;
		font-style:		bold;
		text-align:		center;
		
		}

footer	{	text-size:		x-small;
		text-align:		right;
		font-family:		"Courier New", Courier, monospace;}

.navBar {	list-style-type: 	none;
		font-style:		bold;
		font-size:		x-large;
		border-bottom:	 	2px solid #000000;
		padding:	 	20px 20px 20px 20px;}

.navBar a:link {	color:		black;
			background-color:	#17d611;}

.navBar a:visited {	background-color:	#17d611;
			color:		blue;}

.navBar a:focus {	color:		red;
			background-color:	#999999;}

.navBar a:hover {	color:		white;
			background-color:	#068206;
			border:		2px outset #000000;}

.navBar a:active {	color:		#000000;
			border:		2px outset #000000;}

.progNav table	{	width:		100%;
			text-align:	center;
			vertical-align:	middle;
			padding:	15px;}

.progNav th {		background-color:	black;
			color:			white;
			text-align:		center;}

.progNav td {		text-align:	center;}

.progNav td + td {	text-align:	left;}

.progNav a:link {	color:		black;
			background-color:	#BBBBBB;
			font-style:		italic;}
.progNav a:hover {	color:		#BBBBBB;
			background-color:	red;
			font-style:		italic;
			border:		2px outset #000000;}
